<script type="text/template" id="am-template-component-side-bar">
  <div class="sidebar-toggle">
    <img class="btn-toggle btn-expand" src="img/sidebar/panel-expand.png">
    <img class="btn-toggle btn-shrink" src="img/sidebar/panel-shrink.png">
  </div>
  <a class="nav-item nav-item-user" href="#">
    <div class="nav-item-icon"></div>
    <span>住户管理</span>
  </a>
  <a class="nav-item nav-item-statistics" href="#">
    <div class="nav-item-icon"></div>
    <span>统计分析</span>
  </a>
  <a class="nav-item nav-item-setting" href="#">
    <div class="nav-item-icon"></div>
    <span>配置中心</span>
  </a>
</script>
